 /* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 
  */
 


/* Global Styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Root Element */
#root {
  display: flex;
  height: 100%; /* Full height */
}

/* Main Content (Portfolio) Styles */
.main-content {
  margin-left: 250px; /* Shift content to the right to make room for the sidebar */
  padding: 20px;
  flex-grow: 1; /* Takes up the remaining space */
  height: 100vh; /* Full height */
  overflow-y: auto; /* Vertical scrolling */
  box-sizing: border-box;
}

/* Prevent the content from being hidden under the sidebar */
body {
  overflow-x: hidden;
}
